<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv=\"Content-Type\"content=\"text/html; charset=UTF-8\">
        <title th:text="#{titulo}">Conversor</title>
        <link rel=\"stylesheet\" type=\"text/css\"href=\"estilo.css\">
    </head>
    <body>
        <table border=\"1\">
            <tr>
                <th>Celsius</th>
                <th>Fahrenheit</th>
            </tr>
            <tr th:each="item: ${respostas}">
                <td th:text="${item.getKey()}"></td>
                <td th:text="${item.getValue()}"></td>
            </tr>
        </table>
    </body>
</html>